*{
	margin: 0;
	padding: 0;
}
.full {
	font-size: 0;
	width: 1000px;
	height: 800px;

}

img{
	width: 100px;
	height: 140px;
}

.text_head{
	font-size: 16px;
}
.slider{
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
	border: 1px solid gray;
}

.item{
	display: inline-block;
	padding: 5px;
	box-sizing: border-box;
	width: 150px;
	min-height: 330px;
	overflow: hidden;
}

.item_description{
	padding: 5px;
}
.item_head, .item_name, .item_coast, .item_description{
	text-align: center;
	color: #3c6bff;
}

.item_head, .item_name, .item_coast{
	padding: 10px 0;
	font-size: 14px;

}

.item_head{
	border-bottom: 1px solid gray;
	color: #DDDDDD;
}

.slick-prev:before, .slick-next:before{
	color: black;
}

.slick-prev, .slick-next{
	top: 20%;
}

.btn {
	padding: 3em 0;
	text-align: center;
}

.btn a {
	background: #3c6bff;
	padding: 10px 30px;
	color: #082121;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none
}

.btn1 {
	padding: 3em 0;
	text-align: center;
}

.btn1 a {
	background: #ff4ec4;
	padding: 10px 30px;
	color: #082121;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none
}

